#prey-analysis {
    margin: auto;
    width: 602px;
}

/*remove this one then merging*/
#prey-analysis h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 15px 0;
}

#prey-analysis svg text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    fill: white;
    text-anchor: middle;
}

#prey-analysis svg circle {
    stroke: #555;
    stroke-width: 5px;
    fill: #999;
}